@font-face {
    font-family: Medieval;
    src: url("OldLondon.ttf");
}
body {
    background-image: url("Austin_Evening.jpg");
}
footer, header {
    background: rgba(255, 255, 255, 0.8);
}
header > div, header > p, footer > p {
    text-align: center;
    font-family: Arial;
    font-size: 75%;
    color: black;
}
.tdc-title {
    font-family: Medieval;
    font-size: 400%;
}
section {
    font-family: Arial;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}
.column {
    margin: auto;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.nav-bar {
    list-style-type: none;
}
.nav-bar > li {
    padding-top: 3%;
    padding-bottom: 23%;
}
.left-col {
    width: 5%;
    border-right: 2px solid grey;
}
.center-col {
    width: 49.5%;
    border-right: 2px solid grey;
}
.right-col {
    width: 30%;
}
figcaption > a:link, figcaption > a:visited {
    font-style: oblique;
    font-weight: bold;
    text-decoration: underline;
}
.article > a:link, .article > a:visited {
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    text-decoration: underline;
}
.article > h2 {
    font-size: 75%;
}
.article > p {
    font-size: 80%;
}
.article-left {
    float: left;
    width: 45%;
    padding-right: 2.5%;
}
.article-right {
    float: right;
    width: 45%;
    padding-left: 2.5%;

}